*/*~

btop/btop.log

emacs/eln-cache
emacs/elpa
emacs/elpaca
emacs/recentf
emacs/straight
emacs/url
emacs/workspace

fish/completions
fish/conf.d
fish/fish_variables
fish/functions

nixos/hardware-configuration.nix

vim/autoload
vim/plugged

zsh/.zcomet
zsh/.zcompdump*
zsh/.histfile
zsh/*.zwc
