*/*~

btop/btop.log

emacs/eln-cache
emacs/elpa
emacs/elpaca
emacs/recentf
emacs/straight
emacs/workspace

fish/completions
fish/conf.d
fish/fish_variables
fish/functions

vim/plugged

zsh/.zcomet
zsh/.zcompdump*
zsh/*.zwc
