[Desktop Entry]
Name=Sway
Comment=An i3-compatible Wayland compositor
Exec=env GRIM_DEFAULT_DIR=$HOME/Картинки/grim QT_STYLE_OVERRIDE=kvantum QT_QPA_PLATFORMTHEME=gtk3 sway
Type=Application
