@import "flexoki-dark.css";
@import "flexoki-full.css";

/* Universal Styling */
* {
    font-family: monospace;
    font-size: 17px;
    border-radius: 0px;
    min-height: 0px;
}

/* Bar Styling */
#waybar {
    padding: 0px;
    background: transparent;
}

/* Workspaces */
#workspaces {
    border: 2px solid @pu;
    margin-top: 6px;
    background-color: @bg;
}

#workspaces button {
    padding-left: 9px;
    padding-right: 8px;
    background-color: @bg;
    color: @base-150;
}

#workspaces button.focused {
    background-color: @pu;
    color: @bg;
}

#workspaces button:hover {
    background-color: @bg-2;
    color: @pu;
}

#workspaces button.focused:hover {
    background-color: @pu;
    color: @bg-2;
}

/* Main Modules */
#tray {
    border: 2px solid @pu;
    background-color: @bg;
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

#window,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#mpd,
#cpu,
#memory,
#disk,
#temperature,
#custom-music,
#custom-launcher,
#custom-updates,
#custom-nordvpn,
#custom-notifications,
#custom-power,
#custom-weather

/* System Monitoring Modules */
#cpu, #memory, #temperature {
    border: 2px solid @pu;
    background-color: @bg;
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    color: @base-150;
}
#disk {
    border: 2px solid @pu;
    background-color: @bg;
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    color: @base-150;
}

/* Clock Module */
#clock {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 130%;
    font-weight: bolder;
    background-color: @bg;
    color: @base-100;
}

/* Language module */
#language, #keyboard-state {
    border: 2px solid @pu;
    background-color: @bg;
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    color: @base-150;
}
#language {
    border-right: none;
    margin-right: -6px;
}
#keyboard-state {
    border-left: none;
    margin-left: -10px;
    padding-left: 0px;
}

/* Network Module */
#network {
    border: 2px solid @pu;
    color: @base-150;
    margin-right: 6px;
}

/* PulseAudio Module */
#pulseaudio {
    border: 2px solid @pu;
    color: @base-150;
}

/* Idle Inhibitor */
#idle_inhibitor {
    border: 2px solid @pu;
    margin-top: 6px;
    margin-left: 6px;
    padding-left: 10px;
    padding-right: 17px;
    color: @bg;
    background-color: @pu;
}
#idle_inhibitor.deactivated {
    background-color: @bg;
    color: @base-150;
}
