@import "macchiato.css";

/* Universal Styling */
* {
    border: none;
    border-radius: 0px;
    font-family: monospace;
    font-size: 17px;
    min-height: 0;
}

/* Bar Styling */
#waybar {
    background: transparent;
    color: @text;
    margin: 6px;
    margin-top: 6px;
}

/* Workspaces */
#workspaces {
    border: 2px solid @sapphire;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 6px;
    background-color: @base;
}

#workspaces button {
    padding-left: 5px;
    padding-right: 3px;
    background-color: @base;
    color: @text;
}

#workspaces button.focused {
    background-color: @text;
    color: @base;
}

#workspaces button.focused:hover {
    background-color: @sapphire;
    color: @base;
}

#workspaces button:hover {
    background-color: @base;
    color: @sapphire;
}


/* Main Modules */
#tray {
    border: 2px solid @sapphire;
    background-color: @base;
    margin-right: 6px;
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

#window,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#mpd,
#cpu,
#memory,
#disk,
#temperature,
#custom-music,
#custom-launcher,
#custom-updates,
#custom-nordvpn,
#custom-notifications,
#custom-power,
#custom-weather

/* System Monitoring Modules */
#cpu, #memory, #temperature {
    border: 2px solid @sapphire;
    background-color: @base;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    color: @blue;
}

#disk {
    border: 2px solid @sapphire;
    background-color: @base;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    color: @peach;
}

/* Clock Module */
#clock {
    padding-top: 6px;
    font-size: 130%;
    font-weight: bolder;
    background-color: @base;
    color: @flamingo;
}

/* Language module */
#language {
    border: 2px solid @sapphire;
    background-color: @base;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    color: @flamingo;
}

/* Battery Module */
#battery {
    color: @green;
}
#battery.charging {
    color: @green;
}
#battery.warning:not(.charging) {
    color: @maroon;
}
#battery.critical:not(.charging) {
    color: @red;
}

/* Backlight Module */
#backlight {
    color: @teal;
    padding-right: 1.25rem;
}

/* Network Module */
#network {
    border: 2px solid @sapphire;
    color: @blue;
}

/* PulseAudio Module */
#pulseaudio {
    border: 2px solid @sapphire;
    color: @mauve;
}
