@import "flexoki-dark.css";
@import "flexoki-full.css";

/* Universal Styling */
* {
    opacity: 1;
    font-family: monospace;
    font-size: 17px;
    border-radius: 0px;
    min-height: 0px;
}

/* Bar Styling */
#waybar {
	background: transparent;
}

/* Workspaces */
#workspaces {
    border: 2px solid @gr;
    margin-top: 6px;
    background-color: @bg;
}

#workspaces button {
    padding-left: 10px;
    padding-right: 8px;
    background-color: @bg;
    color: @base-150;
}

#workspaces button.focused {
    background-color: @gr;
    color: @bg;
}

#workspaces button:hover {
    background-color: @bg-2;
}

#workspaces button.focused:hover {
	color: @gr
}

/* Main Modules */
#tray {
    border: 2px solid @gr;
    background-color: @bg;
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

/* System Monitoring Modules */
#cpu, #memory, #temperature {
    border: 2px solid @gr;
    background-color: @bg;
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    color: @base-150;
}
#disk {
    border: 2px solid @gr;
    background-color: @bg;
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    color: @base-150;
}

/* Clock Module */
#clock {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 130%;
    font-weight: bolder;
    background-color: @bg;
    color: @base-100;
    border: 2px solid @gr;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 6px;
}

/* Language module */
#language, #keyboard-state {
    border: 2px solid @gr;
    background-color: @bg;
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    color: @base-150;
}
#language {
    background-color: @bg;
    border-right: none;
    margin-right: -6px;
}
#keyboard-state {
    border-left: none;
    margin-left: -10px;
    padding-left: 0px;
}

/* Network Module */
#network {
    background-color: @bg;
    border: 2px solid @gr;
    color: @base-150;
    margin-right: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 6px;
}

/* PulseAudio Module */
#pulseaudio {
    background-color: @bg;
    border: 2px solid @gr;
    color: @base-150;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 6px;
}

/* MPD Module */
#mpd {
    border: 2px solid @gr;
    color: @base-150;
    background-color: @bg;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 6px;
}

/* Idle Inhibitor */
#idle_inhibitor {
    border: 2px solid @gr;
    margin-top: 6px;
    margin-left: 6px;
    padding-left: 10px;
    padding-right: 17px;
    border-right: none;
    color: @bg;
    background-color: @gr;
}
#idle_inhibitor.deactivated {
    background-color: @bg;
    color: @base-150;
}

/* Launcher */
#custom-launcher {
    background-color: @bg;
    color: @base-150;
    border: 2px solid @gr;
    border-left: none;
    margin-top: 6px;
    margin-left: -10px;
    padding-left: 8px;
    padding-right: 6px;
}
